/* CSS Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
  background-color: #272829;
  overflow: hidden;
}

#container {
  border: 3px solid black;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  #blob {
    background-color: white;
    height: 50vh;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, aquamarine, mediumpurple);
    animation: rotate 20s infinite;
    opacity: 0.8;
  }

  #blur {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    backdrop-filter: blur(12vh);
  }
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  }
}
